In [1]:
import pandas as pd

In [8]:
data = pd.read_excel("jockey3.xlsx")

In [11]:
data["Challenge"].describe()

count                        2004
unique                          8
top       Malaysia CTW3 Challenge
freq                          639
Name: Challenge, dtype: object

In [44]:
X = data[keep]  
y = data['success']

In [69]:
from sklearn.model_selection import train_test_split  
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25)

In [47]:
keep = ['Drilling', 'Business', 'Going.Paperless',
       'MS', 'Intermediates', 'IT', 'Lubricants', 'Malaysia', 'AND', 'Supply', 'combined', 'Initiative', 'Num.Comments', 'Add.Idea', 'plus10',
       'Avg Vote', 'Total Votes'
       ]

In [48]:
df = data[keep]

In [50]:
df=df.dropna()

In [53]:
df.describe()

,Drilling,Business,Going.Paperless,MS,Intermediates,IT,Lubricants,Malaysia,AND,Supply,combined,Initiative,Num.Comments,Add.Idea,plus10,Avg Vote,Total Votes,success
count,1940.000000,1940.000000,1940.000000,1940.000000,1940.000000,1940.000000,1940.000000,1940.000000,1940.000000,1940.000000,1940.000000,1940.000000,1940.000000,1940.000000,1940.000000,1940.000000,1940.000000,1940.000000
mean,0.243814,0.040206,0.120103,0.012371,0.010309,0.033505,0.104639,0.329381,0.017010,0.088660,0.062887,0.074742,2.891237,4.349485,0.057732,3.111799,5.067526,0.210825
std,0.429493,0.196493,0.325166,0.110564,0.101036,0.179998,0.306167,0.470110,0.129343,0.284325,0.242821,0.263043,4.241428,17.894699,0.233296,1.583561,5.639513,0.407999
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.500000,1.000000,0.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,0.000000,0.000000,3.600000,4.000000,0.000000
75%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,4.000000,1.000000,0.000000,4.250000,7.000000,0.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,55.000000,262.000000,1.000000,5.000000,103.000000,1.000000

In [57]:
X = df.drop('success', axis=1)  
y = df['success']

In [62]:
from sklearn.cross_validation import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report, confusion_matrix  
from sklearn import tree

/Users/Kyle/anaconda3/lib/python3.6/site-packages/sklearn/cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [83]:
clf_gini = DecisionTreeClassifier(criterion = "gini", random_state = 100,
                               max_depth=3, min_samples_leaf=5)
clf_gini.fit(X_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=3,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=5, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=100,
            splitter='best')

In [84]:
clf_entropy = DecisionTreeClassifier(criterion = "entropy", random_state = 100,
 max_depth=3, min_samples_leaf=5)
clf_entropy.fit(X_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=3,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=5, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=100,
            splitter='best')

In [86]:
print("Accuracy is ", accuracy_score(y_test,y_pred)*100)

Accuracy is  85.97938144329898

In [87]:
print("Accuracy is ", accuracy_score(y_test,y_pred_en)*100)

Accuracy is  85.97938144329898

In [128]:
md=1

for md in range(1, 10):
    model = RandomForestClassifier(max_depth=md)
    model.fit(X_train, y_train)
    y_predict = model.predict(X_test)

    print("accuracy of "+str(md)+": "+str(accuracy_score(y_test, y_predict)))

accuracy of 1: 0.7917525773195876
accuracy of 2: 0.822680412371134
accuracy of 3: 0.8577319587628865
accuracy of 4: 0.8680412371134021
accuracy of 5: 0.8639175257731959
accuracy of 6: 0.8742268041237113
accuracy of 7: 0.8597938144329897
accuracy of 8: 0.8618556701030928
accuracy of 9: 0.8742268041237113

In [129]:
model = [DecisionTreeClassifier,RandomForestClassifier]

In [127]:
print(confusion_matrix(y_test, y_pred))  
print(classification_report(y_test, y_pred))

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=2, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [130]:
df.describe()

,Drilling,Business,Going.Paperless,MS,Intermediates,IT,Lubricants,Malaysia,AND,Supply,combined,Initiative,Num.Comments,Add.Idea,plus10,Avg Vote,Total Votes,success
count,1940.000000,1940.000000,1940.000000,1940.000000,1940.000000,1940.000000,1940.000000,1940.000000,1940.000000,1940.000000,1940.000000,1940.000000,1940.000000,1940.000000,1940.000000,1940.000000,1940.000000,1940.000000
mean,0.243814,0.040206,0.120103,0.012371,0.010309,0.033505,0.104639,0.329381,0.017010,0.088660,0.062887,0.074742,2.891237,4.349485,0.057732,3.111799,5.067526,0.210825
std,0.429493,0.196493,0.325166,0.110564,0.101036,0.179998,0.306167,0.470110,0.129343,0.284325,0.242821,0.263043,4.241428,17.894699,0.233296,1.583561,5.639513,0.407999
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.500000,1.000000,0.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,0.000000,0.000000,3.600000,4.000000,0.000000
75%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,4.000000,1.000000,0.000000,4.250000,7.000000,0.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,55.000000,262.000000,1.000000,5.000000,103.000000,1.000000

In [131]:
df.columns

Index(['Drilling', 'Business', 'Going.Paperless', 'MS', 'Intermediates', 'IT',
       'Lubricants', 'Malaysia', 'AND', 'Supply', 'combined', 'Initiative',
       'Num.Comments', 'Add.Idea', 'plus10', 'Avg Vote', 'Total Votes',
       'success'],
      dtype='object')

In [134]:
reduce=['Num.Comments', 'Add.Idea', 'plus10', 'Avg Vote', 'Total Votes', 'success']

In [135]:
d=df[reduce]

In [137]:
X=d.drop('success', axis=1)
y=d['success']

In [138]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25)

In [167]:
md=1

for md in range(1, 10):
    model = DecisionTreeClassifier(max_depth=md)
    model.fit(X_train, y_train)
    y_predict = model.predict(X_test)

    print("accuracy of "+str(md)+": "+str(accuracy_score(y_test, y_predict)))

accuracy of 1: 0.7917525773195876
accuracy of 2: 0.8144329896907216
accuracy of 3: 0.8268041237113402
accuracy of 4: 0.8288659793814434
accuracy of 5: 0.8288659793814434
accuracy of 6: 0.8350515463917526
accuracy of 7: 0.822680412371134
accuracy of 8: 0.8350515463917526
accuracy of 9: 0.8329896907216495

In [141]:
from sklearn import linear_model

In [142]:
logreg = linear_model.LogisticRegression()

In [166]:
model = linear_model.LogisticRegression()
model.fit(X_train, y_train)
y_predict = model.predict(X_test)

print("accuracy of: "+str(accuracy_score(y_test, y_predict)))

accuracy of: 0.7876288659793814

In [ ]:
sklearn.neural_network.MLPClassifier

In [144]:
from sklearn.preprocessing import StandardScaler
from sklearn.neural_network import MLPClassifier
from sklearn.metrics import confusion_matrix
from sklearn.ensemble import GradientBoostingClassifier

In [159]:
model = MLPClassifier(hidden_layer_sizes=(10,10,10),max_iter=5000)

In [164]:
model.fit(X_train, y_train)
y_predict = model.predict(X_test)

print("accuracy of: "+str(accuracy_score(y_test, y_predict)))

accuracy of: 0.8268041237113402

In [165]:
scaler = StandardScaler()

# Fit only to the training data
scaler.fit(X_train)

StandardScaler(copy=True, with_mean=True, with_std=True)

# Now apply the transformations to the data:
X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)

In [168]:


pd.DataFrame(
    confusion_matrix(y_test, y_predict),
    columns=['Predicted Not Selected', 'Predicted Selected'],
    index=['True Not Selected', 'True Selected']
)

                   Predicted Not Selected  Predicted Selected
True Not Selected                     370                  14
True Selected                          67                  34

In [171]:
model = GradientBoostingClassifier(warm_start=True)
model.fit(X_train, y_train)
y_predict = model.predict(X_test)

print("accuracy of: "+str(accuracy_score(y_test, y_predict)))

accuracy of: 0.8123711340206186

In [176]:
classifier = GradientBoostingClassifier(warm_start=True)
classifier.fit(X_train, y_train)
classifier.n_estimators += 1
classifier.fit(X_train, y_train)
print('Fitted sparse data', flush=True)
y_predict = model.predict(X_test)

print("accuracy of: "+str(accuracy_score(y_test, y_predict)))

Fitted sparse data
accuracy of: 0.8123711340206186